In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
# Load the dataset

combined_data = pd.read_csv('../src/combined_solar_data.csv')
# Display the first few rows
print(combined_data.head())

          Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0  2021-08-09 00:01 -1.2 -0.2 -1.1   0.0   0.0  26.2  93.4  0.0     0.4
1  2021-08-09 00:02 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.6  0.0     0.0
2  2021-08-09 00:03 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.7  0.3     1.1
3  2021-08-09 00:04 -1.1 -0.1 -1.0   0.0   0.0  26.2  93.3  0.2     0.7
4  2021-08-09 00:05 -1.0 -0.1 -1.0   0.0   0.0  26.2  93.3  0.1     0.7

   WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0      0.1  122.1      0.0  998         0            0.0   26.3   26.2
1      0.0    0.0      0.0  998         0            0.0   26.3   26.2
2      0.5  124.6      1.5  997         0            0.0   26.4   26.2
3      0.4  120.3      1.3  997         0            0.0   26.4   26.3
4      0.3  113.2      1.0  997         0            0.0   26.4   26.3

   Comments Country
0       NaN   Benin
1       NaN   Benin
2       NaN   Benin
3       NaN   Benin
4       NaN   Benin

In [13]:
# Display general information about the dataset
data.info()

# Check if there are any missing values
print("\nMissing Values:")
print(data.isnull().sum())

# Display general statistics
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1576800 entries, 0 to 1576799
Data columns (total 20 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Timestamp      1576800 non-null  object
 1   GHI            1576800 non-null  float64
 2   DNI            1576800 non-null  float64
 3   DHI            1576800 non-null  float64
 4   ModA           1576800 non-null  float64
 5   ModB           1576800 non-null  float64
 6   Tamb           1576800 non-null  float64
 7   RH             1576800 non-null  float64
 8   WS             1576800 non-null  float64
 9   WSgust         1576800 non-null  float64
 10  WSstdev        1576800 non-null  float64
 11  WD             1576800 non-null  float64
 12  WDstdev        1576800 non-null  float64
 13  BP             1576800 non-null  int64
 14  Cleaning       1576800 non-null  int64
 15  Precipitation  1576800 non-null  float64
 16  TModA          1576800 non-null  float64
 17  TModB          1576800 non-null  float64
 18  Comments       0 non-null        float64
 19  Country        1576800 non-null  object
dtypes: float64(16), int64(2), object(2)
memory usage: 240.6+ MB

Missing Values:
Timestamp              0
GHI                    0
DNI                    0
DHI                    0
ModA                   0
ModB                   0
Tamb                   0
RH                     0
WS                     0
WSgust                 0
WSstdev                0
WD                     0
WDstdev                0
BP                     0
Cleaning               0
Precipitation          0
TModA                  0
TModB                  0
Comments         1576800
Country                0
dtype: int64

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,1.576800e+06,0.0
mean,2.243573e+02,1.449408e+02,1.151746e+02,2.231257e+02,2.155223e+02,2.741696e+01,6.298333e+01,1.878440e+00,2.576763e+00,4.649840e-01,1.494072e+02,8.771398e+00,9.899963e+02,8.079655e-04,2.697615e-03,3.339823e+01,3.286939e+01,NaN
std,3.181073e+02,2.453781e+02,1.580602e+02,3.154732e+02,3.049439e+02,5.131024e+00,2.854366e+01,1.536357e+00,1.961275e+00,2.904002e-01,1.039399e+02,6.790689e+00,1.046797e+01,2.841326e-02,3.803610e-02,1.290953e+01,1.238889e+01,NaN
min,-1.950000e+01,-7.800000e+00,-1.790000e+01,0.000000e+00,0.000000e+00,1.100000e+01,2.100000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.680000e+02,0.000000e+00,0.000000e+00,9.000000e+00,8.100000e+00,NaN
25%,-2.200000e+00,-2.000000e-01,-1.400000e+00,0.000000e+00,0.000000e+00,2.370000e+01,3.860000e+01,6.000000e-01,1.100000e+00,4.000000e-01,5.330000e+01,2.900000e+00,9.770000e+02,0.000000e+00,0.000000e+00,2.370000e+01,2.370000e+01,NaN
50%,1.200000e+00,0.000000e+00,1.400000e+00,4.100000e+00,4.000000e+00,2.680000e+01,6.900000e+01,1.800000e+00,2.400000e+00,5.000000e-01,1.803000e+02,9.000000e+00,9.940000e+02,0.000000e+00,0.000000e+00,2.830000e+01,2.800000e+01,NaN
75%,4.244000e+02,2.270000e+02,2.190000e+02,4.111000e+02,3.973000e+02,3.100000e+01,8.860000e+01,2.800000e+00,3.600000e+00,6.000000e-01,2.342000e+02,1.290000e+01,9.990000e+02,0.000000e+00,0.000000e+00,4.260000e+01,4.190000e+01,NaN
max,1.499000e+03,1.004500e+03,8.920000e+02,1.507000e+03,1.473000e+03,4.380000e+01,1.000000e+02,1.950000e+01,2.660000e+01,4.700000e+00,3.600000e+02,9.940000e+01,1.006000e+03,1.000000e+00,2.500000e+00,8.100000e+01,9.460000e+01,NaN

In [14]:
# Group data by 'Country' and calculate summary statistics
summary_stats = data.groupby("Country")[["GHI", "DNI", "DHI", "Tamb"]].describe()

# Display the summary statistics
print(summary_stats)

                   GHI                                                         \
                 count        mean         std   min  25%  50%    75%     max
Country
Benin         525600.0  240.559452  331.131327 -12.9 -2.0  1.8  483.4  1413.0
Sierra Leone  525600.0  201.957515  298.495150 -19.5 -2.8  0.3  362.4  1499.0
Togo          525600.0  230.555040  322.532347 -12.7 -2.2  2.1  442.4  1424.0

                   DNI              ...    DHI             Tamb             \
                 count        mean  ...    75%    max     count       mean
Country                             ...
Benin         525600.0  167.187516  ...  216.3  759.2  525600.0  28.179683
Sierra Leone  525600.0  116.376337  ...  224.7  892.0  525600.0  26.319394
Togo          525600.0  151.258469  ...  215.7  805.7  525600.0  27.751788


                   std   min   25%   50%   75%   max
Country
Benin         5.924297  11.0  24.2  28.0  32.3  43.8
Sierra Leone  4.398605  12.3  23.1  25.3  29.4  39.9
Togo          4.758023  14.9  24.2  27.2  31.1  41.4

[3 rows x 32 columns]

In [ ]:
#Time Series Analysis
for country in combined_data["Country"].unique():
    country_data = combined_data[combined_data["Country"] == country]
    plt.figure(figsize=(10, 5))
    plt.plot(country_data["Timestamp"], country_data["GHI"], label="GHI")
    plt.plot(country_data["Timestamp"], country_data["DNI"], label="DNI")
    plt.plot(country_data["Timestamp"], country_data["DHI"], label="DHI")
    plt.title(f"Solar Radiation Trends in {country}")
    plt.xlabel("Timestamp")
    plt.ylabel("Radiation (W/m²)")
    plt.legend()
    plt.show()

In [ ]:
#Correlation Analysis
for country in combined_data["Country"].unique():
    country_data = combined_data[combined_data["Country"] == country]
    plt.figure(figsize=(10, 8))
    sns.heatmap(country_data.corr(), annot=True, fmt=".2f", cmap="coolwarm")
    plt.title(f"Correlation Heatmap - {country}")
    plt.show()